<div id="admin_info" class="admin-section text-center shadow bg-white">
	<div id="profile_image" class="admin-profile shadow"></div>
	<h4 id="admin_name" class="admin-name"></h4>
	<p id="admin_description" class="admin-description"></p>
	<p id="admin_social" class="admin-social">
		<a id="admin_email" class="admin-email" target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
		<a id="admin_twitter" class="admin-twitter" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
		<a id="admin_facebook" class="admin-facebook" target="_blank" rel="noopener"><i class="fab fa-facebook-square"></i></a>
	</p>
</div>