<div id="sidebar" class="sidebar col-md-4">
	<div id="stick" class="sticky-top">

		{{!-- This will output the admin or author's information --}}
		{{> "admin-info"}}

		{{!-- This will output the twitter card --}}
		{{> "twitter-card"}}

	</div>
</div>