<div id="sidebar" class="sidebar col-md-4">
	<div id="stick" class="sticky-top">

		{{!-- This will output the admin or author's information only if index page --}}
		{{#is "index"}}
		{{> "admin-info"}}
		{{/is}}

		{{!-- This will output the author-card only if author page --}}
		{{#is "author"}}
		{{> "author-card"}}
		{{/is}}

		{{!-- This will output the tag-card only if tag page --}}
		{{#is "tag"}}
		{{#tag}}
		<div class="admin-section text-center shadow bg-white">
			<h4 class="admin-name" style="padding-bottom: 10px;">{{name}}</h4>
		</div>
		{{/tag}}
		{{/is}}

		<div class="mob-only">
			
		{{!-- This will output the twitter card --}}
		{{> "twitter-card"}}

		</div>

		{{!-- This tag will output only if subscribers feature is enabled --}}
		{{> "subscribe-card"}}

	</div>
</div>