{{#if @labs.subscribers}}
<div class="subscribe-section text-center shadow bg-white">
	<h4 class="subscribe-heading">Subscribe for updates</h4>
	<p class="subscribe-catchy">We'll never share your email with anyone else.</p>
	{{subscribe_form placeholder="Your email address" form_class="subscribe-form" input_class="subscribe-input form-control form-control-sm" button_class="btn btn-primary subscribe-confirm"}}
</div>
{{/if}}