{{#if @member}}
  <button role="link" data-members-signout>Sign out</button>
{{else}}
<div class="subscribe-section text-center shadow bg-white">
	<h4 class="subscribe-heading">Subscribe for updates</h4>
	<p class="subscribe-catchy">We'll never share your email with anyone else.</p>
	  <form data-members-form="signin">
    <input data-members-email type="email" required="true"/>
    <button type="submit">Sign in</button>
  </form>
</div>
{{/if}}