{{#if @member}}
  <button role="link" data-members-signout>Sign out</button>
{{else}}
<div class="subscribe-section text-center shadow bg-white">
	<h4 class="subscribe-heading">Iscriviti per restare aggiornato</h4>
	<p class="subscribe-catchy">Non condivideremo mai la tua e-mail con nessun altro.</p>
    <form class="subscribe-form" data-members-form>
  <input class="subscribe-input form-control form-control-sm" data-members-email type="email" required="true" placeholder="La tua email"/>
  <button class="btn btn-primary subscribe-confirm" type="submit">Iscriviti</button>
</form>
</div>
{{/if}}
