<div id="twitter_card" class="twitter-feed-section text-center shadow bg-white">
	<div id="twitter_card_container" class="text-right">
		<a id="twitter_timeline" class="twitter-timeline" data-height="500"></a>
	</div>
</div>