<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	{{!-- Required meta tags --}}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	{{!-- Cascading Style Sheets --}}
	<link rel="stylesheet" href="{{asset 'css/samskara.css'}}">

	{{!-- Fonts and Icons --}}

	<title>{{meta_title}}</title>
</head>
<body>
	<h1>Hello World!</h1>
</body>
</html>