{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<main id="posts" class="main bg-light">
	<div class="container">
		<div class="row">
			<div class="site-content col-md-8">
				{{!-- Loop through each blog post --}}
				{{#foreach posts limit=@config.posts_per_page}}
					{{!-- Use our template to format the recived data --}}
					{{> "post-list"}}
				{{/foreach}}

				{{!-- This tag outputs the pagination section --}}
				{{pagination}}
			</div>

			{{!-- This tag will output the sidebar section --}}
			<div id="sidebar" class="sidebar col-md-4">
				<div id="stick" class="sticky-top">

					{{!-- This will output the admin or author's information only if index page --}}
					{{#is "index"}}
					{{> "admin-info"}}
					{{/is}}

					{{!-- This will output the tag-card only if tag page --}}
					{{#is "tag"}}
					{{#tag}}
					<div class="admin-section text-center shadow bg-white">
						<h4 class="admin-name" style="padding-bottom: 10px;">{{name}}</h4>
					</div>
					{{/tag}}
					{{/is}}

					<div class="no-mobile">
						
					{{!-- This will output the twitter card --}}
					{{> "twitter-card"}}

					</div>

					{{!-- This tag will output only if subscribers feature is enabled --}}
					{{> "subscribe-card"}}

				</div>
			</div>
		</div>
	</div>
</main>

{{!-- This will put the footer --}}
{{> "footer"}}

{{!-- Inject the required JavaScripts --}}
{{> "inject-scripts"}}