{{!< default}}

<main id="posts" class="main bg-light">
	<div class="container">
		<div class="row">
			<div class="site-content col-md-8">
{{#get "tags" limit="all"}}
    <ul class="tags">
        {{#foreach tags}}
            <li>
                <a href="{{url}}">{{name}}</a>
            </li>
        {{/foreach}}
    </ul>
{{/get}}
</div>
</div>
</div>
</main>
