// Navigation Styles
.navbar-brand {
	font-weight: 700;
	font-family: 'Poppins', sans-serif;
	color: $primary !important;
}

.navbar-toggler {
	border: none;
}

.nav-logo {
	max-height: 20px;
}

.nav-link {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 0.9rem;
}

// Footer styles
.footer-logo {
	font-weight: 700;
	font-size: 2rem;
	font-family: 'Poppins', sans-serif;
	color: white !important;
	img {
		max-height: 30px;
	}
}

.copyright-text {
	font-size: 0.6rem;
	padding-top: 5px;
	opacity: 0.6;
	font-family: 'Open Sans', sans-serif;
}

.credits-link {
	color: white !important;
}

.footer-nav {
	a {
		color: white !important;
		opacity: 0.6;
		font-size: 0.8rem;
		transition: opacity 0.3s;
	}

	a:hover {
		opacity: 1;
	}
}