.single-article {
	.article-cover {
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-color: white;

		.inner {
			h1,p {
				color: white;
			}

			.post-meta {
				a {
					color: white !important;
				}
			}

			.controls {
				margin-top: 320px;
			}
		}
	}

	.no-cover {
		min-height: 150px;

		.inner {
			h1,p {
				color: black;
			}

			.post-meta {
				a {
					color: black !important;
				}
			}

			.controls {
				margin-top: 120px;
			}
		}
	}

	.has-cover {
		min-height: 450px;
	}

	.has-cover:after {
		position: absolute;
		width: 100%;
		min-height: 450px;
		left: 0;
		top: 1;
		z-index: 8;
		content: "";
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
	}

	.inner {
		.controls {
			position: absolute;
			z-index: 500;
		}

		.post-title {
			font-weight: 700;
			font-family: 'Poppins', sans-serif;
		}

		.post-meta {
			padding-left: 10px;

			a {
				transition: opacity 0.3s;
				opacity: 0.6;
			}

			a:hover {
				opacity: 1;
			}
		}
	}

	.article-content {
		padding-top: 120px;
		padding-bottom: 120px;

		.post-content {
			padding-left: 5em;
			padding-right: 5em;
			font-size: 1.2rem;
			font-family: 'Open Sans', sans-serif;

			h1, h2, h3, h4, h5, h6 {
				font-family: 'Poppins', sans-serif;
				font-weight: 600;
			}

			p:nth-child(1) {
				font-size: 1.6rem;
			}

			blockquote {
				border-left: 2px solid $primary;
				padding: 20px 30px;
				padding-right: 120px;
				background-color: #FAFAFA;
			}

			pre {
				background-color: #FBFDFF;
				padding: 20px;
				border: 1px solid #DCDCDC;
				border-radius: 5px;
				margin-top: 20px;
				text-align: left !important;
			}

			table {
				background-color: white;
				font-size: 1rem;
				text-align: center !important;
				max-width: 700px;
				width: 100%;
				margin-left: auto;
				margin-right: auto;
				box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
				border-radius: 10px;
				margin-top: 2em;
				margin-bottom: 2em;
				table-layout: fixed;

				th {
					background-color: #F3F3F3;
					padding-top: 10px;
					padding-bottom: 10px;
				}

				td {
					line-height: 2.5;
				}

				tr:nth-child(2n+3) {
					background-color: #FBFDFF;
				}
			}

			img {
				border-radius: 5px;
				margin-bottom: 20px;
			}

			img[src$="#noround"] {
				border-radius: 0px;
			}

			img[src$="#center"] {
				display: block;
				margin-left: auto;
				margin-right: auto;
			}

			.kg-image {
				width: 100%;
				height: 100%;
			}
		}

		.post-tags {
			padding: 10px 6em 40px 6em;

			.tags {
				a:first-child {
					color: white !important;
					background-color: $primary;
				}

				a {
					color: #888A85;
					background-color: $light;
					margin-right: 12px;
				}

				a:last-child {
					margin-right: 0px !important;	
				}
			}

			.share-buttons {
				a {
					color: white !important;
					font-size: 0.8rem;
				}

				.twitter {
					background-color: #03A9F4;
				}

				.facebook {
					background-color: #3b5998;
				}

				.reddit {
					background-color: #F44336;
				}
			}
		}

		.author-meta {
			padding-left: 8em;
			padding-right: 8em;

			.inner {
				padding-top: 20px;
				padding-bottom: 20px;
				border-radius: 10px;
				padding-left: 30px;
				// background-color: pink !important;

				.author-img {
					text-align: right;
					img {
						height: 120px;
						width: 120px;
						border-radius: 9em;
					}
				}

				.author-info {
					padding-top: 20px;
					padding-bottom: 40px;

					h4, p {
						margin: 0px;
					}

					.author-name {
						font-family: 'Poppins', sans-serif;
						font-weight: 600;
					}

					.author-links {
						padding-top: 5px;
						small {
							padding-left: 10px;
							padding-right: 10px;
							font-size: 0.7rem;

							i {
								padding-right: 5px;
							}
						}
					}
				}
			}
		}	
	}
}