.sidebar {
	padding-top: 10px;
}

.mar {
	padding-top: 30px;
}

.subscribe-section {
	padding: 30px;
	border-radius: 10px;

	.subscribe-heading {
		font-weight: 600;
		font-family: 'Poppins', sans-serif;
		font-size: 2rem;
	}

	.subscribe-catchy {
		font-size: 0.9rem;
	}

	.subscribe-input {
		width: 230px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		border-radius: 70rem;
		padding: 15px;
		margin-top: 30px;
	}

	.subscribe-confirm {
		font-size: 0.8rem !important;
		margin-bottom: 10px;
	}
}

#admin_info {
	display: none;
}

.admin-section {
	padding: 30px;
	margin-bottom: 30px;
	border-radius: 10px;

	.admin-profile {
		background-repeat: no-repeat;
		background-position: cover cover;
		background-size: cover;
		height: 130px;
		width: 130px;
		border-radius: 999rem;
		margin-left: auto;
		margin-right: auto;
	}

	.admin-name {
		font-weight: 600;
		font-family: 'Poppins', sans-serif;
		font-size: 1.5rem;
		margin-top: 10px;
		margin-bottom: 0px;
	}

	.admin-description {
		font-size: 0.9rem;

		small {
			color: black;
			opacity: 0.5;

			i {
				padding-right: 5px;
			}
		}
	}

	.admin-social {
		a {
			opacity: 0.6;
			transition: opacity 0.3s;
			margin-right: 15px;
		}

		a:last-child {
			margin-right: 0px !important;
		}

		a:hover {
			opacity: 1;
		}

		.admin-email {
			color: black;
		}

		.admin-twitter {
			color: #03A9F4;
		}

		.admin-facebook {
			color: #3b5998;
		}

		.admin-gplus {
			color: #dd4b39;
		}
	}
}

.twitter-feed-section {
	padding: 30px;
	margin-bottom: 30px;
	border-radius: 10px;
	display: none;
}